

    <div class="container">
        <h2>Ativação do cadastro</h2>
        <p>Olá {{nomeUsuario}},</p>
        <p>Segue código para ativação do cadastro</p>
        <h2>{{Token}}</h2>
        <p>Este código expirará em 60 Minutos.</p>
        <p>Obrigado!</p>
        <p>Ecommerce-APP</p>
    </div>

